[submodule "Extern/json-c"]
	path = Extern/json-c
	url = https://github.com/json-c/json-c
[submodule "Extern/wine-discord-rpc"]
	path = Extern/wine-discord-rpc
	url = https://github.com/DryByte/wine-discord-rpc
[submodule "Extern/freetype"]
	path = Extern/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
